# Byte Compile
__pycache__/
**/__pycache__

# .idea
.idea
**/.idea

# DS_Store
.DS_Store
**/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints

# dotenv
**/.env

# chromedriver
chromedriver
